flask==3.0.3
flask-session==0.8.0
flask-cors==4.0.1
python-dotenv==1.0.1
requests==2.32.3
numpy==1.26.4
faiss-cpu==1.8.0
sentence-transformers==3.0.1
langchain==0.2.16
langchain-community==0.2.16
langchain-ibm==0.1.12
ibm-watsonx-ai==1.1.2
PyPDF2==3.0.1
python-docx==1.1.2
beautifulsoup4==4.12.3
lxml==5.2.2
Werkzeug==3.0.4
gunicorn==22.0.0
